.formform {
  display: flex;
  height: 200px;

  .imgform {
    width: 50%;
    border: 1px solid #eeeeee;
    padding: 10px;
  }

  .editform {
    width: 50%;
    border: 1px solid #eeeeee;
    padding: 10px;
  }
}
